%section
  %tr.tasks-wrapper__tbody-boxes__contents
    %td.tasks-wrapper__tbody-boxes__contents__content
      = link_to task.title, task
    %td.tasks-wrapper__tbody-boxes__contents__content
      = task.user.name
    %td.tasks-wrapper__tbody-boxes__contents__content{id: "task#{task.id}"}
      = task.status
    - if user_signed_in? && task.user.id == current_user.id
      %td.tasks-wrapper__tbody-boxes__contents__content
        = link_to '編集', edit_task_path(task)
      %td.tasks-wrapper__tbody-boxes__contents__content
        = link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' }
      %td.tasks-wrapper__tbody-boxes__contents__content{id: "button#{task.id}"}
        = render 'done_wip/done_wip', task: task