%p#notice= notice
.index-header
  = link_to tasks_path do
    = image_tag "logo.png", size: "250x64", alt: "タスク管理"
  %ul.index-header__boxes
    - if user_signed_in?
      %li
        = link_to new_task_path, class: "btn-border" do
          = icon('fas', 'check')
          新規タスク
      %li
        = link_to destroy_user_session_path, method: :delete, class: "btn-border" do
          = icon('fas', 'check')
          ログアウト
    - else
      %li
        = link_to new_user_session_path, class: "btn-border" do
          = icon('fas', 'check')
          ログイン
      %li
        = link_to new_user_registration_path, class: "btn-border" do
          = icon('fas', 'check')
          新規登録

  - if user_signed_in?
    %p
      Sign In User : #{current_user.name}
%table
  %thead
    %tr
      %th Content
      %th UserName
      %th Status
  %tbody
    = render :partial => 'task', :collection => @tasks
%br/
- if user_signed_in?
  = link_to 'New Task', new_task_path
  = link_to 'Sign Out', destroy_user_session_path, method: :delete
- else
  = link_to 'Sign In', new_user_session_path
  = link_to 'Sign Up', new_user_registration_path
%br/
%br/
#calendar
