.devise-wrapper
  .devise-wrapper__contents
    .devise-wrapper__contents__header
      %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .devise-wrapper__contents__content
        .field
          = f.label :email, "メールアドレス", class: "default-label"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "default-text"
        .field
          = f.label :password, "パスワード", class: "default-label"
          = f.password_field :password, autocomplete: "current-password", class: "default-text"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          //= f.submit "ログイン"
          = button_tag "ログイン", type: 'submit', class: "btn-form"
    .devise-wrapper__contents__footer
      = render "devise/shared/links"
